* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
}

.firstdiv {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("images/donation13.jpg");
    background-size: cover;
}


.headingtext{
    color: whitesmoke;
    text-align: center;
}
.firstheading{
    padding-top: 10%;
    padding-right: 20%;
    padding-left: 20%;
    font-size: 60px;
}
.headingpara{
    padding: 5% 20% 0% 20%;
    margin-bottom: 50px ;
    text-align: center;
    color: white;
    font-weight: 600;
    
    
}
.donatebutton{
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(0, 160, 223), rgb(255, 251, 0));
    padding: 20px 40px;
 border-radius: 5px;
 font-weight: 500;
}

.section1{
    margin-bottom: 100px;
}
.seconddiv{
    text-align: center;
}

.secondheading{
    font-size: 50px;
    margin-bottom: 20px;
}
.inline{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}
.box{
    margin: 20px;
    padding: 40px;
    background-color: rgb(243, 239, 239);  
}

.colorbox{
    background-color: lightsalmon;
    border: 2px solid rgb(238, 6, 6);
}
.input{
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 56%;
    padding: 10px;
    margin-bottom: 70px;
}
.section2{
    margin-bottom: 120px;
}

.thirddiv{
    margin: auto;
  width: 40%;
    align-items: center;
    justify-content: center;
}
.thirdheading{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}
.thirdpara{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.thirdsectionheading{
    margin-bottom: 20px;
}
.coloredbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
}

.section3box{
    margin: 10px;
    padding: 60px;
    
}
#box1{
    background-color: aliceblue;
}
#box2{
    background-color:cornsilk;
}
#box3{
    background-color:rgb(212, 253, 212);
}
.thirdsection{
    margin-bottom: 120px;
}
.flexible-container{
    display:flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding: 10%;
}
.half-width img{
    padding-right: 30px;
    width: 100%;
    height: 100%;
}
.fourthsectionheading{
    margin-bottom: 30px;
}
.aboutuspara{
    margin-bottom: 40px;
}
.section5{
    margin: auto;
  width: 40%;
    padding: 5px;
}
.updateheading{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color:mediumvioletred;
}
.updatepara{
    text-align: center;
    margin-bottom: 30px;
}
.input2{
    padding: 20px;
    
    width: 35%;
}
.subscribe{
    background-color: rgb(210, 250, 241);
    align-items: center;
    justify-content: center;
    padding: 80px 150px 80px 150px;

}
.lastsection{
    margin-bottom: 150px;
}
footer{
    padding: 50px;
    background-color:rgb(16, 8, 43);
    text-align: center;
}
.footerheading{
    text-align: center;
    color: tomato;
}
.footerpara{
    margin-top: 20px;
    color: wheat;
}